<!DOCTYPE HTML>
<!--
	Helios by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Helios by HTML5 UP</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/jquery.scrolly.min.js"></script>
		<script src="js/jquery.onvisible.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-desktop.css" />
			<link rel="stylesheet" href="css/style-noscript.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body class="homepage">

		<!-- Header -->
			<div id="header">
						
				<!-- Inner -->
					<div class="inner">
						<header>
						<img height="50px" src="images/icon2.png"/>
							<h1><a href="index.html" id="logo">Lazy Swipe</a></h1>
						</br>
							<p>Free your one hand</p>
						</header>
						<footer>
              <a href="<%= lazy[ :link ] %>" class="button circled scrolly">Download</a>
						</footer>
					</div>
				
				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="index.html">Store</a></li>
							<li>
								<a href="">Recommend</a>
								<ul>
									<li><a href="#">Lorem ipsum dolor</a></li>
									<li><a href="#">Magna phasellus</a></li>
									<li><a href="#">Etiam dolore nisl</a></li>
									<li>
										<a href="">And a submenu &hellip;</a>
										<ul>
											<li><a href="#">Lorem ipsum dolor</a></li>
											<li><a href="#">Phasellus consequat</a></li>
											<li><a href="#">Magna phasellus</a></li>
											<li><a href="#">Etiam dolore nisl</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li><a href="no-sidebar.html">Support</a></li>
						</ul>
					</nav>

			</div>
			
		<!-- Banner -->
			<section id="banner">
				<header>
					<h2>Lazy Swipe - Simple and Speed</h2>
					<p>
						Lazy Swipe allows convenient access to your favorite apps, settings, and incoming notifications using just one hand.
					</p>
				</header>
			</section>
			
		<!-- Main -->
			<div class="wrapper style2">

				<article id="main" class="container special">
					<a href="#" class="image featured"><img src="images/pic06.jpg" alt="" /></a>
					<header>
						<h2><a href="#">FEATURES</a></h2>
						<p>
							Just swipe from your screen's bottom left or right corner on any screen to instantly open a robust and customizable radial menu that's all within a thumb's reach. Unlike other accessibility tools, Lazy Swipe stays hidden and out of your way until you swipe it into view to use it. 
						</p>
					</header>
					
					<footer>
            <a href="<%= lazy[ :link ]%>" class="button">Download and Enjoy!</a>
					</footer>
				</article>

			</div>

		

		<!-- Footer -->
			<div id="footer">
				<div class="container">
					<div class="row">
						
						<!-- Tweets -->
							<section class="4u">

								
							</section>

				
							
							<!-- Contact -->
								<section class="contact">
									<header>
										<h3>Lazy Swipe is the Best Launcer!</h3>
									</header>
									</br>
									<ul class="icons">
										<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
										<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
										<li><a href="#" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
									</ul>
								</section>
							
							
						</div>
					
					</div>
				</div>
			</div>

	</body>
</html>
