!!!
/
  ZeroFour by HTML5 UP
  html5up.net | @n33co
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
%html
  %head
    %title ZeroFour by HTML5 UP
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "keywords"}/
    /[if lte IE 8] <script src="css/ie/html5shiv.js"></script>
    %script{:src => "js/jquery.min.js"}
    %script{:src => "js/jquery.dropotron.min.js"}
    %script{:src => "js/skel.min.js"}
    %script{:src => "js/skel-layers.min.js"}
    %script{:src => "js/init.js"}
  %body
    %noscript
      %link{:href => "css/skel.css", :rel => "stylesheet"}/
      %link{:href => "css/style.css", :rel => "stylesheet"}/
      %link{:href => "css/style-desktop.css", :rel => "stylesheet"}/
    /[if lte IE 8] <link rel="stylesheet" href="css/ie/v8.css" />
    /[if lte IE 9] <link rel="stylesheet" href="css/ie/v9.css" />
    / Header
    #header-wrapper
      .container
        / Header
        %header#header
          .inner
            / Logo
            %h1
              %a#logo{:href => "index.html"} ZeroFour
            / Nav
            %nav#nav
              %ul
                %li.current_page_item
                  %a{:href => "index.html"} Home
                %li
                  %a{:href => ""} Dropdown
                  %ul
                    %li
                      %a{:href => "#"} Lorem ipsum dolor
                    %li
                      %a{:href => "#"} Magna phasellus
                    %li
                      %a{:href => ""} Phasellus consequat
                      %ul
                        %li
                          %a{:href => "#"} Lorem ipsum dolor
                        %li
                          %a{:href => "#"} Phasellus consequat
                        %li
                          %a{:href => "#"} Magna phasellus
                        %li
                          %a{:href => "#"} Etiam dolore nisl
                    %li
                      %a{:href => "#"} Veroeros feugiat
                %li
                  %a{:href => "left-sidebar.html"} Left Sidebar
                %li
                  %a{:href => "right-sidebar.html"} Right Sidebar
                %li
                  %a{:href => "no-sidebar.html"} No Sidebar
        / Banner
        #banner
          %a.button.big.icon.fa-check-circle{:href => "#"} Download
    / Main Wrapper
    #main-wrapper
      .wrapper.style1
        .inner
          / Feature 1
          %section.container.box.feature1
            .row
              .12u
                %header.first.major
                  %h2 This is an important heading
                  %p
                    And this is where we talk about why we’re
                    %strong pretty awesome
                    \...
            .row
              .4u
                %section
                  %a.image.featured{:href => "#"}
                    %img{:alt => "", :src => "images/pic01.jpg"}/
                  %header.second.icon.fa-user
                    %h3 Here's a Heading
                    %p And a subtitle
              .4u
                %section
                  %a.image.featured{:href => "#"}
                    %img{:alt => "", :src => "images/pic02.jpg"}/
                  %header.second.icon.fa-cog
                    %h3 Also a Heading
                    %p And another subtitle
              .4u
                %section
                  %a.image.featured{:href => "#"}
                    %img{:alt => "", :src => "images/pic03.jpg"}/
                  %header.second.icon.fa-bar-chart-o
                    %h3 Another Heading
                    %p And yes, a subtitle
            .row
              .12u
                %p
                  Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus. Praesent semper
                  bibendum ipsum, et tristique augue fringilla eu. Vivamus id risus vel dolor auctor euismod
                  quis eget mi. Etiam eu ante risus. Aliquam erat volutpat. Aliquam luctus mattis lectus sit
                  amet pulvinar. Nam nec turpis.
      .wrapper.style2
        .inner
          / Feature 2
          %section.container.box.feature2
            .row
              .6u
                %section
                  %header.major
                    %h2 And this is a subheading
                    %p It’s important but clearly not *that* important
                  %p
                    Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus.
                    Praesent semper mod quis eget mi. Etiam eu ante risus. Aliquam erat volutpat.
                    Aliquam luctus et mattis lectus sit amet pulvinar. Nam turpis nisi
                    consequat etiam.
                  %footer
                    %a.button.medium.icon.fa-arrow-circle-right{:href => "#"} Let's do this
              .6u
                %section
                  %header.major
                    %h2 This is also a subheading
                    %p And is as unimportant as the other one
                  %p
                    Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus.
                    Praesent semper mod quis eget mi. Etiam eu ante risus. Aliquam erat volutpat.
                    Aliquam luctus et mattis lectus sit amet pulvinar. Nam turpis nisi
                    consequat etiam.
                  %footer
                    %a.button.medium.alt.icon.fa-info-circle{:href => "#"} Wait, what?
      .wrapper.style3
        .inner
          .container
            .row
              .8u
                / Article list
                %section.box.article-list
                  %h2.icon.fa-file-text-o Recent Posts
                  / Excerpt
                  %article.box.excerpt
                    %a.image.left{:href => "#"}
                      %img{:alt => "", :src => "images/pic04.jpg"}/
                    %div
                      %header
                        %span.date July 24
                        %h3
                          %a{:href => "#"} Repairing a hyperspace window
                      %p
                        Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus
                        semper mod quisturpis nisi consequat etiam lorem. Phasellus quam turpis,
                        feugiat et sit amet ornare in, hendrerit in lectus semper mod quis eget mi dolore.
                  / Excerpt
                  %article.box.excerpt
                    %a.image.left{:href => "#"}
                      %img{:alt => "", :src => "images/pic05.jpg"}/
                    %div
                      %header
                        %span.date July 18
                        %h3
                          %a{:href => "#"} Adventuring with a knee injury
                      %p
                        Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus
                        semper mod quisturpis nisi consequat etiam lorem. Phasellus quam turpis,
                        feugiat et sit amet ornare in, hendrerit in lectus semper mod quis eget mi dolore.
                  / Excerpt
                  %article.box.excerpt
                    %a.image.left{:href => "#"}
                      %img{:alt => "", :src => "images/pic06.jpg"}/
                    %div
                      %header
                        %span.date July 14
                        %h3
                          %a{:href => "#"} Preparing for Y2K38
                      %p
                        Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus
                        semper mod quisturpis nisi consequat etiam lorem. Phasellus quam turpis,
                        feugiat et sit amet ornare in, hendrerit in lectus semper mod quis eget mi dolore.
              .4u
                / Spotlight
                %section.box.spotlight
                  %h2.icon.fa-file-text-o Spotlight
                  %article
                    %a.image.featured{:href => "#"}
                      %img{:alt => "", :src => "images/pic07.jpg"}/
                    %header
                      %h3
                        %a{:href => "#"} Neural Implants
                      %p The pros and cons. Mostly cons.
                    %p
                      Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus semper mod
                      quisturpis nisi consequat ornare in, hendrerit in lectus semper mod quis eget mi quat etiam
                      lorem. Phasellus quam turpis, feugiat sed et lorem ipsum dolor consequat dolor feugiat sed
                      et tempus consequat etiam.
                    %p
                      Lorem ipsum dolor quam turpis, feugiat sit amet ornare in, hendrerit in lectus semper
                      mod quisturpis nisi consequat etiam lorem sed amet quam turpis.
                    %footer
                      %a.button.alt.icon.fa-file-o{:href => "#"} Continue Reading
    / Footer Wrapper
    #footer-wrapper
      %footer#footer.container
        .row
          .3u
            / Links
            %section
              %h2 Filler Links
              %ul.divided
                %li
                  %a{:href => "#"} Quam turpis feugiat dolor
                %li
                  %a{:href => "#"} Amet ornare in hendrerit
                %li
                  %a{:href => "#"} Semper mod quisturpis nisi
                %li
                  %a{:href => "#"} Consequat etiam phasellus
                %li
                  %a{:href => "#"} Amet turpis, feugiat et
                %li
                  %a{:href => "#"} Ornare hendrerit lectus
                %li
                  %a{:href => "#"} Semper mod quis et dolore
                %li
                  %a{:href => "#"} Amet ornare in hendrerit
                %li
                  %a{:href => "#"} Consequat lorem phasellus
                %li
                  %a{:href => "#"} Amet turpis, feugiat amet
                %li
                  %a{:href => "#"} Semper mod quisturpis
          .3u
            / Links
            %section
              %h2 More Filler
              %ul.divided
                %li
                  %a{:href => "#"} Quam turpis feugiat dolor
                %li
                  %a{:href => "#"} Amet ornare in in lectus
                %li
                  %a{:href => "#"} Semper mod sed tempus nisi
                %li
                  %a{:href => "#"} Consequat etiam phasellus
            / Links
            %section
              %h2 Even More Filler
              %ul.divided
                %li
                  %a{:href => "#"} Quam turpis feugiat dolor
                %li
                  %a{:href => "#"} Amet ornare hendrerit lectus
                %li
                  %a{:href => "#"} Semper quisturpis nisi
                %li
                  %a{:href => "#"} Consequat lorem phasellus
          .6u
            / About
            %section
              %h2
                %strong ZeroFour
                by HTML5 UP
              %p
                Hi! This is
                = succeed "," do
                  %strong ZeroFour
                %a{:href => "http://n33.co/"} AJ
                for
                = succeed "." do
                  %a{:href => "http://html5up.net/"} HTML5 UP
                %a{:href => "http://html5up.net/license/"} Creative Commons Attribution
                licensed so use it for any personal or commercial project (just credit us
                for the design!).
              %a.button.alt.icon.fa-arrow-circle-right{:href => "#"} Learn More
            / Contact
            %section
              %h2 Get in touch
              %div
                .row
                  .6u
                    %dl.contact
                      %dt Twitter
                      %dd
                        %a{:href => "#"} @untitled-corp
                      %dt Facebook
                      %dd
                        %a{:href => "#"} facebook.com/untitled
                      %dt WWW
                      %dd
                        %a{:href => "#"} untitled.tld
                      %dt Email
                      %dd
                        %a{:href => "#"} user@untitled.tld
                  .6u
                    %dl.contact
                      %dt Address
                      %dd
                        1234 Fictional Rd
                        %br/
                        Nashville, TN 00000-0000
                        %br/
                        USA
                      %dt Phone
                      %dd (000) 000-0000
        .row
          .12u
            #copyright
              %ul.menu
                %li © Untitled. All rights reserved
                %li
                  Design:
                  %a{:href => "http://html5up.net"} HTML5 UP
